.cmt-Fv55D9eJ {
    margin-top: 70px;
}
.comment_box-1dciHGm9 {
    font-size: 14px;
    font-family: Microsoft Yahei;
}
.title-2rrjbtFx {
    margin-top: 25px;
    margin-bottom: 10px;
    font: bold 20px/22px 'microsoft yahei';
    color: #000;
}
.hotList-3nzzINWZ {
    font-size: 14px;
}
.comment_box-2hOInx9W {
    position: relative;
    padding-top: 20px;
    background: url(https://x0.ifengimg.com/fe/shank/content/line.51caf040.jpg) repeat-x left bottom;
}
.showAllComment-38YqIz_7 {
    padding-top: 30px;
    text-align: center;
}
.username-1Vt8Lleq {
    margin-bottom: 17px;
    font-size: 14px;
    color: #999;
}
.content_txt-3sJKgW6Y {
    margin-bottom: 15px;
    line-height: 1.4em;
    color: #2b2b2b;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.bottom_bar-oNhodvye {
    font-size: 12px;
    padding-bottom: 17px;
    padding-right: 10px;
}
.reply-g1UOn-am {
    float: right;
    line-height: 14px;
}
.comment_time-2Q8G1VtY {
    padding-top: 4px;
    color: #999;
}
.reply-g1UOn-am {
    float: right;
    line-height: 14px;
}
.reply-g1UOn-am a {
    color: #000;
    text-decoration: none;
}
.repNum-3qFYjPZh {
    padding-left: 8px;
    font: 16px georgia;
    color: #f54343;
}
.comment_textarea_head-3iku1Ljx {
    margin-bottom: 8px;
    margin-top: 30px;
}
.comment_textarea_body-3JSkA5i8 {
    margin-bottom: 8px;
}
.comment_textarea_bottom-Q6VjSFdG {
    font-size: 12px;
}
.right_box-x8e_9DA5 {
    float: right;
}
.comment_box-1dciHGm9 {
    font-size: 14px;
    font-family: Microsoft Yahei;
}
.tips-3Sra-CaO {
    font-size: 12px;
    color: #999 !important;
}
.num-3THq-SS5{
    color: #f54343;
    text-decoration: none;
}
.num-3THq-SS5 {
    font: 18px georgia;
    color: #f54343;
}
.comment_textarea_body-3JSkA5i8 {
    margin-bottom: 8px;
}
.textarea_box-3faVZW4A {
    position: relative;
    height: 70px;
    width: 100%;
}
.submit_bar-3glSRnxR {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-top: 0;
    background: #f7f7f7;
}

.comment_area-2gVM0gP2 {
    height: 48px;
    width: 97.9%;
    padding: 10px 1%;
    border: 1px solid #dcdcdc;
    resize: none;
    outline: 0;
    font-size: 14px;
}
.submit_btn-3ePqW8a3 {
    cursor: pointer;
    display: block;
    float: right;
    width: 120px;
    height: 40px;
    background: #f54343;
    text-align: center;
    color: #fff;
    font: 18px/40px 'microsoft yahei';
}
.comment_face_box-rJcZj7K0 {
    width: 60%;
}
.comment_face-1A32ksul {
    position: relative;
    padding-top: 5px;
}
.face_trigger-2NBO_4t8 {
    display: inline-block;
    position: relative;
    margin-left: 7px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}
.face_btn-fS6dDsg7 {
    background: url(https://x0.ifengimg.com/fe/shank/content/face_1.3de0e01d.png) no-repeat left bottom;
    float: left;
    width: 22px;
    height: 22px;
    padding: 2px;
    margin-right: 5px;
    border: 1px solid transparent;
}
.icon-2luiO6bX {
    display: inline-block;
    width: 7px;
    height: 4px;
    margin-bottom: 2px;
    overflow: hidden;
    background: url(https://x0.ifengimg.com/fe/shank/content/face-triggerArr.b9713c54.gif) no-repeat 0 -4px;
}
